<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>700</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2022 The GTL001 Project Authors (https://github.com/eliheuer/GTL001)</string>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>GTL001</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2022/07/05 04:49:23</string>
    <key>openTypeHheaAscender</key>
    <integer>1200</integer>
    <key>openTypeHheaDescender</key>
    <integer>-200</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Eli Heuer</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://elih.blog</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>GTL Type Label</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://gtl.world</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1200</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>GTL</string>
    <key>openTypeOS2WinAscent</key>
    <integer>710</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>200</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-50</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>GTL001</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>100</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
